<!-- verify-reset-otp.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Verify OTP</title>
</head>
<body>
    <div class="container">
        <header> CineInsight </header>
        <h1>Verify OTP</h1>
        <form action="/verify-reset-otp" method="post">
            <div class="form-group">
                <label for="otp">Enter the OTP sent to <%= email %>:</label>
                <input type="text" id="otp" name="enteredOTP" required>
            </div>
            <input type="hidden" name="email" value="<%= email %>">
            <button type="submit" class="button">Verify OTP</button>
        </form>
    </div>
</body>
</html>